.env
backend/.env
frontend/.env
frontend/node_modules/
backend/node_modules/
dist/
build/
.vscode/
.DS_Store
npm-debug.log
yarn-error.log
coverage/
*.log
*.sqlite
*.sqlite3
.idea/
*.iml
*.class
*.jar
*.war
*.exe
*.dll
*.out
*.obj
*.swp
*.swo
*.bak