@import "tailwindcss";
@config "../tailwind.config.js";
@layer base {
  body {
    font-family: Inter, sans-serif;
  }
}
.material-symbols-outlined{
  font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
}
.card {
  @apply bg-white border border-slate-200 rounded-xl p-6 shadow-sm;
}
.icon-box {
  @apply p-3 bg-slate-50 rounded-lg border border-slate-100;
}
.btn-dark {
  @apply bg-slate-900 text-white px-4 py-2 rounded-lg font-semibold hover:bg-slate-800;
}
